html,
body {
	height: 100%;
}

h3 {margin-bottom: 0.4em !important;}
body {
	display: flex;
	flex-direction: column;
	background-color: #F9F9F9;
}

.container {

	@media screen and (max-width: 576px) {
		width: 100% !important;
	}
}

.container-fluid {
	flex: 1 0 auto !important;
}


.jumbotron {

	margin-bottom: 4em;
	padding: 3em 4em 2em 4em !important;
	background: url('/assets/img/icy_forest.png') 0%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(0.3);
	filter: contrast(1);

	h1 {
		font-family: 'Permanent Marker', cursive;
		font-size: 8em;
		letter-spacing: 1px;
		color: #000;	

		@media screen and (max-width: 576px) {
			margin-bottom: 30px;
			font-size: 7em;
			line-height: 96px;
			text-align: center;
		}

		@media screen and (min-width: 320px) and (max-width: 576px) {
			margin-bottom: 30px;
			font-size: 4em;
			line-height: 56px;
			text-align: center;
		}
	}
}

.jumbo-home {
	margin-bottom: 4em;
	padding: 3em 4em 2em 4em !important;
	background: url('/assets/img/icy_forest.png') 0%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(0.3);
	filter: contrast(1);

	.lead {
		margin: 0;
		font-size: 1em;
	}

	@media screen and (max-width: 576px) {
		padding: 3em 1em 1em 1em !important;
		text-align: center;
	}
}


section {
	margin: 0 0 3em 0;
}


.social-media {
	a {padding-right: 20px;}
}

.horizontal-divider {
	margin: 1em 0 2.7em 0;
	background-color: #7E6771;
	// background: url("/assets/img/rooftop.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(0.3);
	filter: contrast(1);
	height: 2px;
	width: 100%;
	max-width: 1000px;
	border-radius: 6px;
}

// Import
@import 'navigation';
@import 'footer';