.content {
	padding-top: 0em;
}

.recent-posts {
	h1 > a {
		color: #000 !important;
	}
}

section {
	display: flex !important;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	margin-bottom: 50px;
}

.horizontal-divider {
	margin: 15px 0 40px 0;
	background-color: #7E6771;
	height: 2px;
	width: 100%;
	border-radius: 6px;
}