<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link href="/scss/michael.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/scss/bootstrap.css" rel="stylesheet">

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
 </head>

<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ site.baseurl }}{% link index.md %}">Michael Xavier</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Articles</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}{% link portfolio.md %}">Portfolio</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}{% link about.md %}">About</a>
    </div>
  </div>
</nav>


