<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link href="/scss/michael.css" rel="stylesheet">
    <link href="/scss/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
 </head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ site.baseurl }}{% link index.md %}">MX | XM</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{{ site.baseurl }}{% link articles.md %}">Articles</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}{% link portfolio.md %}">Portfolio</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}{% link about.md %}">About</a>
      <!-- <a class="nav-item nav-link" data-toggle="modal" data-target="#contactModal" data-whatever="@mdo" style="cursor:pointer;"><b>Contact</b></a> -->
    </div>
  </div>
</nav> <!-- End Navigation -->

<!-- Contact Modal -->
<!-- <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">New Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form method="POST" action="http://formspree.io/vinoth.michaelxavier@gmail.com">
        <div class="modal-body">
          <div class="form-group">
            <label for="email" class="form-control-label">Email</label>
            <input type="email" name="email" class="form-control" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="message" class="form-control-label">Message</label>
            <textarea name="message" class="form-control" placeholder="" rows="7" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary">Send</button>
        </div>
      </form>

    </div>
  </div>
</div> --> <!-- End Contact Modal -->