<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{{ site.title }} | {{ page.title }}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
 </head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand" href="{{ site.baseurl }}{% link index.md %}">
    MX | XM
  </a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-auto" id="navbar">
    <div class="navbar-nav ml-auto">

      <a class="nav-item nav-link"
         href="{{site.baseurl}}{% link articles.md %}">
        Articles
      </a>

      <a class="nav-item nav-link"
         href="{{site.baseurl}}{% link portfolio.md %}">
        Portfolio
      </a>

      <a class="nav-item nav-link"
         href="{{site.baseurl}}{% link about.md %}">
        About
      </a>
    </div>
  </div>
</nav> <!-- End Navigation -->
