html,
body {
	height: 100%;
}

h3 {
	margin-bottom: 0.4em;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #F9F9F9;
}

.container {

	@media screen and (max-width: 576px) {
		width: 100%;
	}
}

.container-fluid {
	flex: 1 0 auto;
	width: 100%;
}

.btn {
	cursor: pointer;

	a {
		color: #000;

		&:hover {
			text-decoration: none;
		}
	}

}

.social-media {
	a {
		margin-right: 20px;

		img {
			margin-bottom: 1em;
		}
	}
}

// Import
@import 'custom/navigation';
@import 'custom/jumbotron';
@import 'custom/pages';
@import 'custom/code';
@import 'custom/footer';

// Colours
// #e04643 Red/Pink