// Base -----------------------------------------------------------------------
@import 'base/colors';
@import 'base/fonts';

// General --------------------------------------------------------------------
@import 'custom/navigation';
@import 'custom/jumbotron';
@import 'custom/pages';
@import 'custom/code';
@import 'custom/footer';

// Components -----------------------------------------------------------------
@import 'components/buttons';

body {
	background-color: $black-2;
}

.social-media {
	a {
		margin-right: 20px;

		img {
			margin-bottom: 1em;
		}
	}
}

