.jumbotron {
	margin-bottom: 3em;
	padding: 3em 4em 2em 4em;
	background: url('/assets/img/icy_forest.png') 0%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(0.3);
	filter: contrast(1);

	text-align: center;

	h1 {
		font-family: 'Permanent Marker', cursive;
		font-size: 4em;
		letter-spacing: 1px;
		line-height: 56px;
		color: #000;
		text-align: center;

		@media screen and (min-width: 320px) {
			margin-bottom: 30px;
			font-size: 4em;
		}

		@media screen and (min-width: 553px) {
			font-size: 6em;
			line-height: 96px;
		}

		@media screen and (min-width: 992px) {
			text-align: left;
		}	

		@media screen and (min-width: 1200px) {
			font-size: 7em;
		}			
	}

	@media screen and (max-width: 576px) {
		padding: 3em 1em 1em 1em !important;
	}

	@media screen and (min-width: 768px) {
		margin-bottom: 4em;
	}

	@media screen and (min-width: 992px) {
		text-align: left;
	}
}

.jumbo-home {
	margin-bottom: 4em;
	padding: 3em 1em 1em 1em !important;
	
	background: url('/assets/img/icy_forest.png') 0%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(0.3);
	filter: contrast(1);

	text-align: center;

	.lead {
		margin: 0;
		font-size: 1em;
	}

	@media screen and (min-width: 576px) {
		padding: 3em 4em 2em 4em !important;
	}

	@media screen and (min-width: 992px) {
		text-align: left;
	}
}

.subtitle {
	background-color: #F9F9F9;
	padding: .4em;
}