
{% include header.html %}


<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">{{ page.title}}</h1>
		<h5>{{ page.date | date_to_string }}</h5>

		<ul class="list-unstyled">
			<li><b>Categories:</b> {{ page.categories | join: ', ' }}</li>
			<li><b>Tags:</b> {{ page.tags | join: ', ' }}</li>
		</ul>

		<!-- <p class="lead">This contains the post page details.</p> -->
	</div>
</div>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col col-lg-8">
			<div class="content">
				{{ content }}
			</div>
		</div>
	</div>
</div>

{% include footer.html %}