
// Colours --------------------------------------------------------------------
$black-2: #f9f9f9;
$black-5: #f2f2f2;
// #e04643 Red/Pink

// Backgrounds ----------------------------------------------------------------
.bg-black-5 {
  background-color: $black-5;
}